DATABASE_URL=postgres://postgres:postgres@localhost:5432/inventory_request_module
TEST_DATABASE_URL=postgres://postgres:postgres@localhost:5432/inventory_request_module_test
DEMO_USER_EMAIL=admin@inventory.local
